.container {
    font-family: "Comic Neue", cursive;
} 

/* .description { */
    /* text-align: center; */
    /* padding: 5px; */
    /* margin: 4px;
    border: 3px solid;
    padding: 12px;
    background-color: rgb(46, 92, 120);
    font-size: larger; */
/* } */

.description {
    position: absolute;
    top: 20vh;
    left: 10vw;

    /* text-align: left; */
    font-weight: bolder;
    font-size: larger;

    color: #4a0130;
    width: 30rem;
    font-size: 1.3rem;
    
    
    
}


.givendesc {
    font-size: larger;
    font-weight: bold;
    color: #f4c6e4;

    position: absolute;
    top: 50vh;
    left: 10vw;

    text-align: center;
    background: rgba(99, 19, 88, 0.489);
    width: 75rem;
    border-style: solid;
    border-width: 3px;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #4f0a4fae;
}




body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0;
    background-image: url("./img/pexels-kyleroxas-2138922.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-color: #cccccc;
    
}
header {
    /* background-color: #333; */
    color: #080005;
    padding: 24px 0; 
    text-align: center;
}    
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}    
nav ul li {
    display: inline; 
    margin-right: 20px;
}    
nav ul li a {
    color: #4a0130;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

    
}    
main {
    padding: 20px;
    min-height: 80vh;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0; 
    position: fixed;
    bottom: 0;
    width: 100%;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #ccc;
}
form input {
    margin-bottom: 1em;
    padding: .5em;
    border: 1px solid #ccc;
    width: 100%;
}
form button {
    padding: 0.7em;
    color: #fff;
    background-color: #333;
    border: none;
    width: 100%;
}
form button:hover {
    background-color: #555;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.message {
    text-align: center;
    margin: 20px 0;
}