{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% load static%}
{%block cssstyle%}
{% static 'homeCss.css' %}
{%endblock%}
{% block content %}
<div class="container">
    <div class="description">
        <h1>Plan Smarter, Travel Better<br>Your Personalized Journey Starts Here</h1>
    </div>
    <div class="givendesc">
    <p>Discover the world at your fingertips with our innovative travel planning platform.
        Whether you're dreaming of a tropical escape or a cultural exploration, we simplify the journey from inspiration to booking.
         Personalize your adventure with tailored itineraries, curated recommendations, and insider tips from globetrotting experts.
           Navigate confidently with detailed destination guides and interactive maps, ensuring every trip is enriched with unforgettable experiences.
            Empower your wanderlust with a platform designed to enhance and streamline travel planning, making every journey seamless and extraordinary.
    </p>
</div>
</div>
{% endblock %}